/*reset*/
p, dd, dt, ol, ul, li, h1, h2, h3, h4, h5, h6, a {
	padding : 0;
	margin : 0;
	font-size : 100%;
	text-align : left;
	line-height : 1 em;
	font-weight : normal;
	font-family :  Arial, Helvetica, "Times New Roman", "Helvetica neue";
	list-style-type: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	background-image: url("../img/bg.png");
}

body {
	width: 960px;
	margin: 0 auto;
	background-color: #f8f7f6;
}

/*header*/
hgroup {
	height: 70px;
	width: 960px;
	margin: 0;
	background: url("../img/header2.jpg");
}

hgroup h1 a {
	width: 495px;
	height: 70px;
	float: left;
	text-indent: -99999px;
}

hgroup h2 {
	float: right;
	text-indent: -999999px;
} 

/*nav*/
nav ul {
	clear: both;
	width: 960px;
	margin: 0;
	padding: 0;
	text-indent: -99999px;
}

nav ul li {
	float: left;
	width: 160px;
	height: 32px;
	overflow: hidden;
}

nav ul li a {
	float: left;
	height: 32px;
	width: 160px;
}

#xbox {
	background-image: url("../img/grey_nav.png");
}

#ps3 {
	background: url("../img/grey_nav.png") -160px 0;
}
#wii {
	background: url("../img/grey_nav.png") -320px 0;
}
#comp {
	background: url("../img/grey_nav.png") -480px 0;
}
#contact {
	background: url("../img/grey_nav.png") -640px 0;
}

#schedule {
	background: url("../img/grey_nav.png") -800px 0;
}

#xbox a:hover {
	background-image: url("../img/orange_nav.jpg");
}

#ps3 a:hover {
	background: url("../img/orange_nav.jpg") -160px 0;
}

#wii a:hover {
	background: url("../img/orange_nav.jpg") -320px 0;
}

#comp a:hover {
	background: url("../img/orange_nav.jpg") -480px 0;
}

#contact a:hover {
	background: url("../img/orange_nav.jpg") -640px 0;
}

#schedule a:hover {
	background: url("../img/orange_nav.jpg") -800px 0;
}

#xbox.active {
	background-image: url("../img/orange_nav.jpg");
}

#ps3.active {
	background: url("../img/orange_nav.jpg") -160px 0;
}

#wii.active {
	background: url("../img/orange_nav.jpg") -320px 0;
}

#comp.active {
	background: url("../img/orange_nav.jpg") -480px 0;
}

#contact.active {
	background: url("../img/orange_nav.jpg") -640px 0;
}

#schedule.active {
	background: url("../img/orange_nav.jpg") -800px 0;
}

/*body*/
div {
	padding-top: 10px;
	padding-left: 10px;
	margin-bottom: 20px;
	clear: both;
}

h2 {
	text-align: center;
	font-size: 24px;
}

h3 {
	text-align: center;
	height: 20px;
	padding-top: 30px;
	clear: both;
	font-size: 18px;
}

h3.border {
	background: url("../img/border.png") no-repeat;
}

article.content {
	margin: 35px 55px;
	font-family: Arial;
	width: 680px;
	float: right;
	overflow: hidden;
	font-size: 14px;
}

img.xbox {
	margin: -10px 0 40px 35px;
	float: left;
	background-color: red;
	overflow: hidden;
}

#help, #help2 {
	clear: both;
	float: right;
	margin: 30px 10px;
}

a {
	color: #993801;
}

#home {
	padding-left: 20px;
}

#first_home, #third_home {
	width: 580px;
}

#second_home{
	width: 320px;
}

/*form elements*/
#form, #home {
	float:left;
	width: 630px;
	clear: both;
	margin-top: 20px;
}

form {
	width: 630px;
	padding-left: 10px;
	overflow: hidden;
}

form input, form select {
	margin-bottom: 20px;
}

#active a {
	background-color: #A84A16;
}

#checkbox {
	margin-bottom: 0;
}

#charge {
	padding-top: 10px;
}

#button {
	background-color: orange;
	color: white;
}

/*sidebar*/
aside {
	margin-top: 20px;
	padding-top: 10px;
	padding-left: 20px;
	width: 290px;
	height: 700px;
	float: left;
	overflow: hidden;
	margin-bottom: 30px;
	background: url("../img/side_bar.png") no-repeat;
}

/*footer*/
footer {
	clear: both;
	background-color: black;
	color: white;
	overflow: hidden;
	height: 20px;
	padding-top: 5px;
	font-size: 10px;
}

footer p:first-child {
	width: 320px;
	padding-left: 10px;
	text-align: left;
}

footer p {
	position: relative;
	float: left;
	width: 300px;
	text-align: center;
}

footer p:last-child {
	width: 240px;
	float: right;
}