/*reset*/
p, dd, dt, ol, ul, li, h1, h2, h3, h4, h5, h6, a {
	padding : 0;
	margin : 0;
	font-size : 14px;
	text-align : left;
	line-height : 1 em;
	font-weight : normal;
	font-family : Arial, Helvetica, "Times New Roman", "Helvetica neue";
	list-style-type: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	background-image: url("../img/background.jpg");
}

body {
	width: 960px;
	margin: 0 auto;
	background-color: #f8f7f6;
}

/*header*/
hgroup {
	height: 70px;
	width: 960px;
	margin: 0;
	background: url("../img/header.jpg");
}

hgroup h1 a {
	width: 495px;
	height: 70px;
	float: left;
	text-indent: -99999px;
}

hgroup h2 {
	float: right;
	text-indent: -999999px;
}

/*nav*/
nav ul {
	clear: both;
	width: 960px;
	margin: 0;
	padding: 0;
	text-indent: -99999px;
}

nav ul li {
	float: left;
	width: 160px;
	height: 32px;
	overflow: hidden;
}

nav ul li a {
	float: left;
	height: 32px;
	width: 160px;
}

#xbox {
	background-image: url("../img/grey_nav.png");
}

#ps3 {
	background: url("../img/grey_nav.png") -160px 0;
}
#wii {
	background: url("../img/grey_nav.png") -320px 0;
}
#comp {
	background: url("../img/grey_nav.png") -480px 0;
}
#contact {
	background: url("../img/grey_nav.png") -640px 0;
}

#schedule {
	background: url("../img/grey_nav.png") -800px 0;
}

#xbox a:hover {
	background-image: url("../img/orange_nav.jpg");
}

#ps3 a:hover {
	background: url("../img/orange_nav.jpg") -160px 0;
}

#wii a:hover {
	background: url("../img/orange_nav.jpg") -320px 0;
}

#comp a:hover {
	background: url("../img/orange_nav.jpg") -480px 0;
}

#contact a:hover {
	background: url("../img/orange_nav.jpg") -640px 0;
}

#schedule a:hover {
	background: url("../img/orange_nav.jpg") -800px 0;
}

/*document*/
h2 {
	margin-top: 10px;
	text-align: center;
	height: 50px;
	font-family: Arial;
	font-weight: bold;
	font-size: 24px;
	background-image: url("../img/xbox_banner.png");
}

#xheader {
	background-image: url('../img/xbox_banner.png');
}

h3 {
	text-align: center;
	height: 20px;
	padding-top: 30px;
	clear: both;
	font-size: 18px;
}

h3.border {
	background: url("../img/border.png") no-repeat;
}

article {
	margin: 35px 55px;
	font-family: Arial;
	font-size: 14px;
	width: 680px;
	float: right;
	overflow: hidden;
}

img.xbox, img.psp, img.class, img.ps, img.wii, img.comp {
	margin: -10px 0 40px 35px;
	float: left;
}

/*extra link*/
#help {
	clear: both;
	float: right;
	margin: 30px 10px;
}

/*form and home*/
#header_home {
	width: 550px;
}

#form, #home, #first_home, #third_home {
	display: block;
	float:left;
	width: 550px;
	overflow: hidden;
	margin-left: 0;
	margin-right: 10px;
}

#second_home {
	width: 320px;
	float: left;
	margin-left: 0;
}

form {
	width: 640px;
	padding-left: 20px;
	overflow: hidden;
}

 {
	color: red;
}

#active a {
	background-color: #A84A16;
}

div {
	padding-top: 10px;
	padding-left: 10px;
	margin-bottom: 20px;
	clear: both;
}

aside {
	padding: 20px 40px;
	width: 300px;
	float: left;
	overflow: hidden;
	margin-bottom: 30px;
	background: url("../img/side_bar.png") no-repeat 10px 10px;
}

a {
	color: #993801;
}

/* footer */
footer {
	clear: both;
	background-color: black;
	color: white;
	height: 40px;
	padding-top: 20px;
}

footer p:first-child {
	display: block;
	width: 220px;
	float: left;
	padding-left: 10px;
}

footer p {
	font-size: 12px;
	float: left;
	width: 390px;
	text-align: center;
}

footer p:last-child {
	width: 310px;
	float: right;
}