p, dd, dt, ol, ul, li, h1, h2, h3, h4, h5, h6, a {
	font-family:Arial, Helvetica, "Times New Roman", "Helvetica neue";
	font-size:100%;
	font-weight:400;
	line-height:1.2em;
	list-style-type:none;
	margin:0;
	padding:0;
	text-align:left;
}

img {
	border:none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}
/* styles */
html {
	background-image:url("../img/bg.png");
}

body {
	margin:0;
}

#container {
	background-color:#f8f7f6;
	margin:0 auto;
	padding:0;
	
}

/* header */
hgroup {	
	margin:0;
}

hgroup h1 a {
	float:left;
	text-indent:-99999px;
}

hgroup h2 {
	text-indent:-999999px;
}

/* nav */
nav ul {
	margin:0;
	padding:0;
}

nav ul li {
	height:30px;
	overflow:hidden;
}

nav ul li a {
	color:#FFF;
	height:30px;
	padding-top:5px;
	text-align:center;
	text-decoration:none;
}

.nav a, .nav_comp a, .nav_contact a {
	/* graident per browser */
	/* Safari 4-5, Chrome 1-9 */ 
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#7B797A), to(#343434)); 
	
	/* Safari 5.1, Chrome 10+ */ 
	background:-webkit-linear-gradient(top, #7B797A, #343434);
	
	/* Firefox 3.6+ */ 
	background:-moz-linear-gradient(top, #7B797A, #343434);
	
	/* IE 10 */ 
	background:-ms-linear-gradient(top, #7B797A, #343434);
	
	/* Opera 11.10+ */ 
	background:-o-linear-gradient(top, #7B797A, #343434);
	
	/* IE 6-9 */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#7B797A, endColorstr=#343434);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#7B797A, endColorstr=#343434)";
}

#active_xbox a, #active_comp a, #active_contact a, #active_ps3 a, #active_wii a, #active_schedule a, .nav a:hover, .nav_comp a:hover, .nav_contact a:hover {
	/* graident per browser */
	/* Safari 4-5, Chrome 1-9 */ 
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#F95902), to(#CE6111)); 
	
	/* Safari 5.1, Chrome 10+ */ 
	background:-webkit-linear-gradient(top, #F95902, #CE6111);
	
	/* Firefox 3.6+ */ 
	background:-moz-linear-gradient(top, #F95902, #CE6111);
	
	/* IE 10 */ 
	background:-ms-linear-gradient(top, #F95902, #CE6111);
	
	/* Opera 11.10+ */ 
	background:-o-linear-gradient(top, #F95902, #CE6111);
	
	/* IE 6-9 */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#F95902, endColorstr=#CE6111);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#F95902, endColorstr=#CE6111)";
}

/* form and content */
#form, #content {
	clear:both;
}

h2 {
	text-align:center;
}

h3 {
	clear:both;
	text-align:center;
}

#xheader, #pheader, #wheader, #pheader, #cheader {
	clear:both;
	background:url("../img/header_comp.png") no-repeat 0 -10px;
}

h3.border {
	background:url("../img/border.png") no-repeat;
}

#door_image {
	float:left;
}

article.content {
	float:right;
	font-family:Arial;
	overflow:hidden;
}

h3 + img.xbox, h3 + img.ps, h3 + img.psp, h3 + img.comp, h3 + img.wii {
	float:left;
	overflow:hidden;
	box-shadow:5px 5px 2px #888;
}

#help, #help2 {
	clear:both;
	float:right;
}

a {
	color:#993801;
}

article #door_image + p + p {
	clear:both;
}

#cta {
	background-image:url("../img/cta.png");
}

#cta_title {
	color:white;
}

#cta a {
	color:white;
	text-decoration:none;
	text-align:center;
	
	/* graident per browser */
	/* Safari 4-5, Chrome 1-9 */ 
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#F95902), to(#CE6111)); 
	
	/* Safari 5.1, Chrome 10+ */ 
	background:-webkit-linear-gradient(top, #F95902, #CE6111);
	
	/* Firefox 3.6+ */ 
	background:-moz-linear-gradient(top, #F95902, #CE6111);
	
	/* IE 10 */ 
	background:-ms-linear-gradient(top, #F95902, #CE6111);
	
	/* Opera 11.10+ */ 
	background:-o-linear-gradient(top, #F95902, #CE6111);
	
	/* IE 6-9 */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#F95902, endColorstr=#CE6111);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#F95902, endColorstr=#CE6111)";
	
	/*rounded corners*/
	-moz-border-radius:15px;
	border-radius:15px;
	
	box-shadow:5px 5px 2px #888;
}


#form,#home {
	clear:both;
	float:left;
}

form {
	overflow:hidden;
	padding-left:10px;
}

span, .input {
	color:red;
}

h2#contact_title {
	float:left;
	text-align:left;
	width:125px;
}

h2#schedule_title {
	float:left;
	text-align:left;
	width:180px;
}

.input + p {
	clear:both;
	margin-bottom:10px;
}

form input,form select {
	margin-bottom:20px;
}

#active a {
	background-color:#A84A16;
}

#checkbox {
	margin-bottom:0;
}

#charge {
	padding-top:20px;
}

#button {
	margin-top:20px;
	width:100px;
	height:25px;
	background-color:orange;
	color:white;
	font-size:1em;
	
	/* gradient per browser */
	/* Safari 4-5, Chrome 1-9 */ 
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#1a82f7), to(#2F2727)); 
	
	/* Safari 5.1, Chrome 10+ */ 
	background:-webkit-linear-gradient(top, #F95902, #CE6111);
	
	/* Firefox 3.6+ */ 
	background:-moz-linear-gradient(top, #F95902, #CE6111);
	
	/* IE 10 */ 
	background:-ms-linear-gradient(top, #F95902, #CE6111);
	
	/* Opera 11.10+ */ 
	background:-o-linear-gradient(top, #F95902, #CE6111);
	
	/* IE 6-9 */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#F95902, endColorstr=#CE6111);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#F95902, endColorstr=#CE6111)";
	
	/* Firefox 3.6+ */ 
	background:-moz-linear-gradient(top, #F95902, #CE6111);
	
	/* IE 10 */ 
	background:-ms-linear-gradient(top, #F95902, #CE6111);
	
	/* Opera 11.10+ */ 
	background:-o-linear-gradient(top, #F95902, #CE6111);
	
	/*rounded corners*/
	-moz-border-radius:15px 12px;
	border-radius:15px 12px;
	
	box-shadow:5px 5px 2px #888;
}

/* sidebar */
aside {
	background:url("../img/side_bar.png") no-repeat;
	float:left;
	height:550px;
	margin-bottom:30px;
	margin-top:20px;
	overflow:hidden;
	padding-left:20px;
	width:320px;
}

#phone, #map, #hours, #address {
	clear:both;
	font-weight:bold;
	margin-bottom:20px;
}

aside p {
	clear:both;
}

#sidebar {
	float:left;
	margin-bottom:20px;
}

table {
	border:none;
	width:200px;
	font-family:Arial;
}

.time {
	text-align:right;
}

/* footer */
footer {
	background-color:#000;
	clear:both;
	color:#FFF;
	font-size:10px;
	height:20px;
	overflow:hidden;
	padding-top:5px;
}

/* responsive design */	
/*------------------------------------------------------------------*/
/* 760-959 */
@media screen and (min-width:768px) and (max-width:959px) {
	
	#home_aside {
		display:none;
	}
	
	#container {
		width:768px;
	}
	
	/* header */
	hgroup {
		background:url("../img/header2.png") -20px 0;
		height:75px;
		width:768px;
	}
	hgroup h1 a {
		height:70px;	
		width:395px;
	}
	
	/* nav */
	nav {
		clear:both;
		font-size:14px;
	}
	
	nav ul {
		height:30px;
	}
	
	nav ul li {
		float:left;
		width:127px;
		height:30px;
	}
	
	nav ul li a {
		float:left;
		width:130px;
		height:30px;
	}
		
	.nav_comp, .nav_comp a, .nav_comp .active a {
		width:140px;
	}
	
	.nav_contact, .nav_contact a, .nav_comp .active a {
		width:120px;
	}
	
	/* form and home div settings */
	#form, #home {
		width: 410px;
		margin-bottom:20px;
		padding-left:10px;
		padding-top:10px;
	}
	
	/* content */
	h2 {
		font-size:1.5em;
	}
	
	h3 {
		font-size:1.125em;
		height:20px;
		padding-top:30px;
	}
	
	#xheader, #pheader, #wheader, #pheader, #cheader {
		height:90px;
		padding-top:15px;
		text-indent:250px;
		width:768px;
	}
	
	#door_image {
		padding:20px;
	}

	article.content {
		float:right;
		font-size:.875em;
		margin:15px 35px;
		width:490px;
	}
	
	h3 + img.xbox, h3 + img.ps, h3 + img.psp, h3 + img.comp, h3 + img.wii {
		margin:-10px 0 40px 35px;
	}
	
	#help, #help2 {
		margin:30px 10px;
	}
	
	#home {
		padding-left:20px;
	}
	
	#home_article {
		width:700px;
		padding-right:30px;
	}
	
	#header_home {
		width:768px;
	}
	
	#home_article p {
		font-size:1.125em;
	}
	
	article p {
		padding-top:10px;
	}
	
	article #door_image + p {
		padding-top:27px;
	}
	
	#cta {
		margin-top:40px;
		margin-left:70px;
		width:580px;
		height:162px;
	}
	
	#cta_title {
		width:580px;
		height:30px;
		padding-top:3px;
		font-size:1.125em;
		text-indent:50px;
	}
	
	#cta a {
		font-size:1.25em;
		position:relative;
		float:right;
		top:80px;
		right:20px;
		width:240px;
		height:30px;
		padding-top:2px;
	
	.input {
		font-size:.75em;
	}
	
	/* footer */
	footer p:first-child {
		padding-left:10px;
		text-align:left;
		float:left;
	}
	
	footer p {
		float:left;
		text-align:left;
		width:150px;
	}
	
	footer p:last-child {
		float:left;
		width:260px;
		text-align:right;
	}
}